<ion-view view-title="الإعدادات" style="background: url('img/background.png') center bottom 10% ">
<ion-content class="" >
  <div ng-class="style_for_settings_container" dir="rtl">

    <div class="settings-container-item">
      <div>
        <i class="icon ion-android-time dark" style="font-size: 420%;" ></i> <br/>
<b><i class="">مدة الإنتظار <span style="font-size: 0.8em" class="assertive">({{settings.waitedDelay}} دقائق)</span>
</i>
</b><br/>
<i class="">عند نهاية هذه المدة، يبدأ التطبيق بإرسال التهييجات الصوتية.</i>
<div class="item range" style="border: none;margin-top: 4px;background: transparent">
<i class="">7</i>
<input type="range" name="volume" min="7" max="30" ng-model="settings.waitedDelay">
<i class="">30</i>
</div>
</div>
</div>

<div class="settings-container-item">
  <div>
    <i class="icon ion-refresh dark" style="font-size: 420%;" ></i> <br/>
<b><i>تردد التهييجات الصوتية <span style="font-size: 0.8em" class="assertive">({{settings.frequencePulse}} دقائق)</span>
</i>
</b><br/>
<i class="">المدة الزمنية بين التهييجات الصوتية.</i>
<div class="item range" style="border: none;margin-top: 4px;background: transparent">
<i class="">2</i>
<input type="range" name="volume" min="2" max="6" ng-model="settings.frequencePulse">
<i class="">6</i>
</div>
</div>
</div>

<div class="settings-container-item">
  <div>
    <i class="icon ion-ah-sound-advice dark" style="font-size: 420%;" ></i> <br/><b>
  <i class="">النصائح الصوتية</i></b><br/>
<i class="">  تفعيل بث النصائح الصوتية، هذه النصائح تنضبط حسب الوقت التي تبث فيه خلال السياقة.</i>
<ul class="list">

  <li class="item item-toggle" style="border: none;margin-top: 4px;background: transparent"> تفعيل/تعطيل<label class="toggle toggle-assertive">
       <input type="checkbox" ng-model="settings.enableAdvice">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
</li>
</ul>
</div>
</div>

</div>

</ion-content>
<ion-footer-bar class="bar-light">

  <button ng-click="editAndSaveSettings()" class="button button-large button-block button-positive" style="margin: 0px" >
<span style="font-size: 1.2em">{{event_name}}</span>
</button>
</ion-footer-bar>
</ion-view>