<ion-view view-title="Accueil" hide-nav-bar="true" style="background:url('img/background.png') bottom center" class="padding">
<ion-content>

    <div class="padding">
        <br/>
        <p style="font-size:140%;text-align: center;font-weight: bold" class="assertive"> La Somnolence est fatale</span>!!</p>
<div style="text-align: center">

<img class="full-image" src="img/home_pic.png">
</div>
<ul style="font-size:95%;color:#3a3333" class="anti-somno_ul"> La somnolence au volant peut être fatale, elle est caractérisée par la réduction de la vigilance.<br/>Elle
est souvent causée par:
<li> - Manque de sommeil cummulé</li>
<li> - Chaleur ou froid excessif dans la voiture</li>
<li> - Monotonie du trajet</li>
<li> - Monotonie sonore </li>
<li> - Prise de médicaments</li>
</ul>
<br/>
<p style="font-size:140%;text-align: center;">Application Anti-somnolence</span>
</p><br/>
<div style="text-align:center">
<img src="img/mobile.png" height="175">
</div>
<br/>
<p style="text-align: justify;font-size: 96%"> Application mobile vise les longues et moyennes conduite automobile pour casser l'éventuelle monotonie sonore chez le
conducteur, en espérant le garder bien eveillé tout au long de voyage.
</p>
<br/>

<button class="button icon-left ion-home pull-right"></button>
</div>

</ion-content>
</ion-view>