<ion-view view-title="Paramètres" style="background: url('img/background.png') center bottom 10% ">
<ion-content class="">
  <div style="padding-top: 0px">

<div style="border-bottom: 12px solid;border-color:darkgray  ;padding: auto">
<div style="padding: 20px">
<i class="icon icon-ion-android-time dark" style="font-size: 420%;" ></i> <br/><b><i class="">Durée d'attente</i></b><br/>
<i class="">C'est à l'écoulement de cette durée, que l'application commence à émettre des excitations sonores.</i>
<div class="item range" style="border: none;margin-top: 4px;background: transparent">
<i class="">15</i>
<input type="range" name="volume" min="15" max="45" value="20">
<i class="">45</i>
</div>
</div>
</div>

<div style="border-bottom: 12px solid;border-color:darkgray  ;padding: auto">
<div style="padding: 20px">
<i class="icon  icon-ion-loop dark" style="font-size: 420%;" ></i> <br/><b><i class="">Fréquence d'excitation</i></b><br/>
<i class="">La durée entre deux excitations successives.</i>
<div class="item range" style="border: none;margin-top: 4px;background: transparent">
<i class="">3</i>
<input type="range" name="volume" min="3" max="8" value="6">
<i class="">8</i>
</div>
</div>
</div>

<div style="border-bottom: 12px solid;border-color:darkgray  ;padding: auto">
<div style="padding: 20px">
<i class="icon icon-ion-android-warning assertive" style="font-size: 420%;" ></i> <br/><b><i class="">Fréquence d'excitation (phase sensible)</i></b><br/>
<i class="">La phase sensible, c'est la phase où le conducteur ne réagit plus avec les excitations sonores.<br/>
                A ce niveau, l'application émet des excitation hautes rapides.</i>
<div class="item range" style="border: none;margin-top: 4px;background: transparent">
<i class="">1</i>
<input type="range" name="volume" min="1" max="3" value="1">
<i class="">3</i>
</div>
</div>
</div>





</div>

</ion-content>
</ion-view>