.anti-somno_ul li{
  padding-left: 12px !important;
  padding-top: 2px !important;
}

.anti-somnolence-table{
height: 100%;
width: 100%;

}

.anti-somnolence-table td{
  text-align: center;
  vertical-align: middle;
  font-size: 40px;
}
